

<div class="page-header">
  <h2>
    Classrooms
  </h2>
</div>

<% unless @sites.nil? %>

<ul class="nav nav-tabs">
  <% @sites.each do |site| %>
    <%= active_li(site == @site) do %>
      <%= link_to site.abbr, site_classrooms_path(site) %>
    <% end %>
  <% end %>
</ul>

<p></p>

<% end %>

<% cache(classrooms_cache_key(@classrooms, @site)) do %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Site</th>
  </tr>
  <% @classrooms.each do |classroom| %>
    <tr>
      <td><%= link_to classroom.name, classroom %></td>
      <td><%= classroom.site.name %></td>
    </tr>
  <% end %>
</table>


<%= paginate(@classrooms) %>

<% end %>
