<header class="page-header">
  <div class="row">
    <div class="col-md-9">
      <h2><%= @classroom.name %></h2>
    </div>
    <div class="col-md-3">
      <% if @cached_pdf_path.present? %>
        <%= link_to 'View Classroom PDF', show_cached_classroom_path(@classroom, format: :pdf), class: 'btn btn-default btn-block' %>
        <%= link_to 'Reset PDF', clear_classroom_path(@classroom), method: :patch, class: 'btn btn-link btn-block' %>
      <% else %>
        <%= job_polling_link('Generate Class PDF', generate_classroom_path(@classroom), check_classroom_path(@classroom)) %>
      <% end %>
    </div>
  </div>
</header>

<div class="row">
  <% @students.in_groups(3, false) do |grp| %>
    <div class="col-md-4">
      <div class="list-group">
        <% grp.each do |student| %>
        <%= link_to student.name, student, class: 'list-group-item' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
