<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @classroom.site.name, site_classrooms_path(@classroom.site) %></li>
</ol>

<header class="page-header">
  <div class="row">
    <div class="col-md-9">
      <h2><%= @classroom.name %></h2>
    </div>
    <div class="col-md-3">
      <% if @cached_pdf_path.present? %>
        <%= link_to 'View Classroom PDF', show_cached_classroom_path(@classroom, format: :pdf), class: 'btn btn-default btn-block' %>
        <%= link_to 'Reset PDF', clear_classroom_path(@classroom), method: :patch, class: 'btn btn-link btn-block' %>
      <% else %>
        <%= job_polling_link('Generate Class PDF', generate_classroom_path(@classroom), check_classroom_path(@classroom)) %>
      <% end %>
    </div>
  </div>
</header>

  <ul class="nav nav-pills">
    <li><%= link_to "Internet Accounts", classroom_personas_path(@classroom) %></li>
    <% if current_user.can?(:manage, @classroom) %>
    <li><%= link_to 'Class Leaders', classroom_leaderships_path(@classroom) %></li>
    <li><%= link_to 'Class Members', classroom_memberships_path(@classroom) %></li>
    <% end %>
  </ul>

  <hr>

<section class="student_list">
  <header class="student_list-header">
    <h3 class="student_list-title"><%= pluralize(@students.count, 'Students') %></h3>
  </header>
  <%= render partial: 'student_list', locals: {classroom: @classroom, students: @students} %>
</section>

<% if @inactives.any? %>
  <section class="student_list">
    <header class="student_list-header">
      <h4 class="student_list-title"><%= pluralize(@inactives.count, 'Inactive Student') %></h4>
    </header>
    <%= render partial: 'student_list', locals: {classroom: @classroom, students: @inactives} %>
  </section>
<% end %>
