<% cache(@student) do %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @student.homeroom.name, @student.homeroom %></li>
</ol>

<div class="page-header">
  <h2><%= @student.name %></h2>
  <p>Homeroom: <%= link_to @student.homeroom.name, @student.homeroom %></p>
</div>

<%= render 'tabs' %>

<div class="row">
  <div class="col-md-8">
    <p><strong><%= @student.grade.try(:name) %></strong></p>

    <p><strong>Full name:</strong> <%= @student.full_name %></p>

    <p><strong>Birthdate:</strong> <%= @student.birthdate.strftime('%B %d, %Y') %></p>

    <p><strong>Home language:</strong>
      <%= @student.home_lang.try(:name) %> <br>
      <%= link_to 'Edit home language', edit_student_path(@student) %>
    </p>

    <p><strong>Google Apps Org Unit:</strong> <%= @student.org_unit.try(:name) %></p>

  </div>
  <div class="col-md-4">

    <div class="info_group">
      <div class="info_group-label">
        <h4>Import Details</h4>
      </div>
      <div class="info_group-content">
        <ul>
          <% @student.import_details.each do |key, value| %>
            <li><strong><%= key %></strong>: <%= value %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>

<% end %>
