<% cache(@student) do %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @student.homeroom.name, @student.homeroom %></li>
</ol>

<div class="page-header">
  <h2><%= @student.name %></h2>
  <p>Homeroom: <%= link_to @student.homeroom.name, @student.homeroom %></p>
</div>

<%= render 'tabs' %>

<p><strong>Full name:</strong> <%= @student.full_name %></p>

<p><strong>Birthdate:</strong> <%= @student.birthdate.strftime('%B %d, %Y') %></p>

<p><strong>Home language:</strong> <%= @student.home_lang.try(:name) %></p>

<p><%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-primary' %></p>

<% end %>
