<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @student.homeroom.name, @student.homeroom %></li>
</ol>

<div class="page-header">
  <h2><%= @student.name %></h2>
  <p>Homeroom: <%= @student.homeroom.name %></p>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a>Demographics</a>
  </li>
  <li>
    <%= link_to 'Internet Accounts', student_personas_path(@student) %>
  </li>
</ul>
