<% present(@report_card, ReportCard::FormPresenter) do |presenter| %>
<%# bootstrap_form_tag(url: student_report_card_path(@student, @report_card), method: :put, html: {class: 'form-affixed_actions'}) do |f| %>
<%= presenter.form_tag(@student) do |f| %>
  <% if @report_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report_card.errors.count, "error") %> prohibited this report_card from being saved:</h2>

      <ul>
      <% @report_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <%= render 'report_cards/subjects/positional_scale' if presenter.positional_form? %>
      <%= render 'report_cards/subjects/value_scale' unless presenter.positional_form? %>
    </div>

    <div class="col-md-10">
      <% if presenter.positional_form? %>
        <%= render partial: 'positional_fields',  locals: presenter.partial_locals(f) %>
      <% else %>
        <%= render partial: 'value_fields',  locals: presenter.partial_locals(f) %>
      <% end %>

      <hr>
        <h3>Comments</h3>
      <hr>

      <div id="report_card-comments">

        <% @comment_groups.each do |comment_group| %>
          <h4><%= comment_group.name %></h4>
          <fieldset class="comment-checkboxes">
            <%= presenter.render_comments(f, comment_group) %>
          </fieldset>
        <% end %>

      </div>

      <hr>
        <h3>Additional</h3>
      <hr>

      <div class="row">
        <div class="col-md-3">
          <%= presenter.next_grade_field(f) %>
        </div>
        <div class="col-md-3">
          <%= presenter.teacher_name_field(f) %>
        </div>
      </div>

    </div>
  </div>

  <div class="form-actions form-actions-affixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <%= link_to student_report_card_path(@student, @report_card), class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-chevron-left"></span> Cancel
          <% end %>
        </div>
        <div class="col-sm-10">
          <%= f.submit "Save and close" %>
          <%= f.submit "Save and continue", name: 'continue' %>
          Last saved: <%= @report_card.updated_at.to_s(:short) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
