<% present(report_card, ReportCard::Presenter) do |presenter| %>

<%= render 'legend' %>

<% cache([report_card, 'subjects']) do %>
  <table class="table" id="report_card-subjects">
    <tr>
      <th></th>
      <th colspan="2">1st Period</th>
      <th colspan="2">2nd Period</th>
      <th colspan="2">3rd Period</th>
    </tr>
    <tr>
      <th>Subject</th>
      <% 3.times do %>
        <th>Quality</th>
        <th>Effort</th>
      <% end %>
    </tr>
    <tbody>
      <% presenter.subjects.each do |subject| %>
        <%= render partial: 'report_cards/subjects/subject_row', locals: {presenter: presenter, subject: subject} %>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr>

<div class="report_card-attendance">
  <h2>
    Attendance
  </h2>
  <p><em>Since card last saved, about <%= presenter.attendance_updated_at %> ago</em></p>
  <table class="table">
    <tr>
      <th></th>
      <th>1st Period</th>
      <th>2nd Period</th>
      <th>3rd Period</th>
    </tr>
    <tr>
      <td class="report_card-label">Days Absent</td>
      <% (1..3).each do |i| %>
      <td><%= presenter.absences(i) %></td>
      <% end %>
    </tr>
    <tr>
      <td class="report_card-label">Days Tardy</td>
      <% (1..3).each do |i| %>
      <td><%= presenter.tardies(i) %></td>
      <% end %>
    </tr>
  </table>
</div>

<hr>

<div class="report_card-comments">

  <h3>Comments</h3>
  <hr>

  <% presenter.comment_periods.each do |p, comments| %>
    <div class="comment-period">
      <h4><%= "#{p}#{p.ordinal}" %> Period</h4>
      <% comments.each do |comment| %>
      <span><%= comment.english %></span>
      <% end %>
    </div>
  <% end %>

</div>

<% if report_card.fetch_data(['services']) %>
<div class="report_card-services">
  <h3>Additional Services</h3>
  <p>
    <%= report_card.fetch_data(['services']).join(', ') %>
  </p>
</div>
<% end %>

<% end %>
