<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @student.homeroom.name, @student.homeroom %></li>
  <li><%= link_to @student.name, @student %></li>
</ol>

<div class="page-header">
  <h2><%= @student.name %></h2>
  <p>Homeroom: <%= @student.homeroom.name %></p>
</div>

<%= render 'students/tabs' %>

<div class="row">
  <div class="col-md-8">

    <table class="table">
      <thead>
        <tr>
          <th>Created</th>
          <th>Updated</th>
          <th>Form</th>
        </tr>
      </thead>

      <tbody>
        <% @report_cards.each do |report_card| %>
          <tr>
            <td><%= link_to report_card.created_at.strftime('%b %e, %Y'), student_report_card_path(@student, report_card) %></td>
            <td><%= report_card.updated_at.to_s(:short) %></td>
            <td><%= report_card.form.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="col-md-4">
    <% if @student.has_report_card_for_this_year? %>
      <div class="panel panel-default">
        <div class="panel-heading">New Report Card</div>
        <div class="panel-body">
          Report card is already started for this student this school year.
        </div>
      </div>
    <% else %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          New Report Card
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for [@student, ReportCard.new] do |f| %>
            <%= f.select :report_card_form_id, @forms, label: 'Which form?' %>
            <%= f.submit 'Start new report card' %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
