<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @student.homeroom.name, @student.homeroom %></li>
  <li><%= link_to @student.name, @student %></li>
</ol>

<div class="page-header">
  <h2><%= @student.name %></h2>
  <p>Homeroom: <%= @student.homeroom.name %></p>
</div>

<%= render 'students/tabs' %>

<div class="row">
  <div class="col-md-8">

    <table class="table">
      <thead>
        <tr>
          <th>School Year</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Form</th>
        </tr>
      </thead>

      <tbody>
        <% @report_cards.each do |report_card| %>
          <tr>
            <td><%= link_to report_card.year, student_report_card_path(@student, report_card) %></td>
            <td><%= report_card.created_at.to_s(:mdy) %></td>
            <td><%= report_card.updated_at.to_s(:mdy) %></td>
            <td><%= report_card.form.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        New Report Card
      </div>
      <div class="panel-body">
        <%= bootstrap_form_for [@student, ReportCard.new] do |f| %>
          <%= f.select :report_card_form_id, @forms, label: 'Which form?' %>
          <%= f.submit 'Start new report card' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
