<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @student.homeroom.name, @student.homeroom %></li>
  <li><%= link_to @student.name, @student %></li>
  <li><%= link_to 'Report Cards', student_report_cards_path(@student) %></li>
</ol>

<header class="page-header">
  <div class="row">
    <div class="col-md-10">
      <h3>Report Card for <%= @student.name %></h3>

      <p>
        Started on: <%= @report_card.created_at.to_s(:mdy) %>
      </p>
    </div>
    <div class="col-md-2">
      <% if @report_card.editible? %>
        <%= link_to 'Edit', edit_student_report_card_path(@student, @report_card), class: 'btn btn-primary btn-block' %>
      <% end %>

      <% if @cached_pdf_path.present? %>
        <%= cached_pdf_button(@student, @report_card) %>
        <%= link_to 'Reset PDF', clear_student_report_card_path(@student, @report_card), data: {method: :patch}, class: 'btn btn-default btn-block' %>
      <% else %>
        <%# link_to 'Generate PDF', generate_student_report_card_path(@student, @report_card), method: :patch, class: 'btn btn-default btn-block' %>
        <%= job_polling_link('Generate PDF', generate_student_report_card_path(@student, @report_card), check_student_report_card_path(@student, @report_card), {class: 'btn btn-default btn-block'}) %>
      <% end %>

      <%= link_to 'Legend', '#', class: 'btn btn-link btn-block', data:{toggle: 'modal', target: '#legend'} %>
    </div>
  </div>
</header>


<% cache(@report_card) do %>
  <%= render @report_card %>
<% end %>

<hr></hr>

<% if @report_card.editible? %>
  <p><%= delete_report_card_link(@student, @report_card) %></p>
<% end %>
