<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @student.homeroom.name, @student.homeroom %></li>
</ol>

<div class="page-header">
  <h2><%= @student.name %></h2>
  <p>Homeroom: <%= @student.homeroom.name %></p>
</div>

<%= render 'students/tabs' %>

<table class="table table-striped">
  <tr>
    <th>Service</th>
    <th>Username</th>
    <th>Password</th>
    <th>Edit</th>
    <th>Sync</th>
    <th>Synced at</th>
  </tr>

  <% @personas.each do |persona| %>
    <tr>
      <td><%= persona.handler %></td>
      <td><%= persona.username %></td>
      <td><%= persona.password %></td>
      <td><%= link_to 'Edit', edit_student_persona_path(@student, persona), class: 'btn btn-default btn-sm' %></td>
      <td>
        <% if persona.handler == 'gapps' %>
          <%= sync_button(@student, persona) %>
        <% end %>
      </td>
      <td><%= persona.synced_at %></td>
    </tr>
  <% end %>
</table>
