
<%= image_tag @user.image_url %>

<p><%= @user.name %></p>

<p><%= @user.email %></p>

<p><%= @user.last_sign_in_at %></p>

<p><%= @user.last_sign_in_ip %></p>

<p><%= link_to 'Edit', edit_admin_user_path(@user) %></p>
