<div id="side" class="nav_area" data-behavior="off_canvas">
  <header class="nav_area-header">
    <h1 class="nav_area-title">LibertySIS</h1>
    <a href="#" class="nav_area-close" data-behavior="off_canvas_toggle" data-target="side">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </header>

  <% if signed_in? %>
    <% cache(current_user) do %>
      <div class="nav_area-user">
        <article class="user">
          <div class="user-avatar">
            <% if current_user.image_url.present? %>
              <%= image_tag current_user.image_url, class: 'avatar-sm' %>
            <% end %>
          </div>
          <div class="user-name">
            <%= current_user.name %><br>
            <%= link_to 'Sign-out', destroy_user_session_path, method: :delete %>
          </div>
        </article>
      </div>

      <div class="nav_area-content">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <% if (current_employee && current_employee.multisite?) || current_user.admin? %>
            <li><%= link_to 'Sites', sites_path %></li>
          <% end %>
        </ul>

        <% if current_user.admin? %>
        <h5 class="nav_area-heading">App Admin</h5>
        <ul>
          <li><%= link_to 'Users', admin_users_path %></li>
          <li><%= link_to 'Employees', admin_employees_path %></li>
          <li><%= link_to 'Roles', admin_roles_path %></li>
          <li><%= link_to 'Sites', admin_sites_path %></li>
        </ul>

        <h5 class="nav_area-heading">Report Card Admin</h5>
        <ul>
          <li><%= link_to 'Grading Periods', report_cards_grading_periods_path %></li>
          <li><%= link_to 'Forms', report_cards_forms_path %></li>
        </ul>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
