<div id="side" class="nav_area" data-behavior="off_canvas">
  <header class="nav_area-header">
    <h1 class="nav_area-title">LibertySIS</h1>
    <a href="#" class="nav_area-close" data-behavior="off_canvas_toggle" data-target="side">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </header>

  <% if signed_in? %>
  <div class="nav_area-user">
    <article class="user">
      <div class="user-avatar">
        <% if current_user.image_url.present? %>
          <%= image_tag current_user.image_url, class: 'avatar-sm' %>
        <% end %>
      </div>
      <div class="user-name">
        <%= current_user.name %><br>
        <%= link_to 'Sign-out', destroy_user_session_path, method: :delete %>
      </div>
    </article>
  </div>

  <div class="nav_area-content">
    <% if current_employee %>
    <h4 class="nav_area-heading">Sites</h4>
    <ul class="nav nav-pills nav-stacked">
      <% if current_user.sites.count > 1 %>
        <li><%= current_employee.primary_site %></li>
      <% else %>
        <% current_employee.sites.each do |site| %>
          <li><%= link_to site.name, site %></li>
        <% end %>
      <% end %>
    </ul>
    <% end %>

    <% if current_user.admin? %>
    <h4 class="nav_area-heading">Admin</h4>
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to 'Users', admin_users_path %></li>
      <li><%= link_to 'Employees', admin_employees_path %></li>
    </ul>
    <% end %>
  </div>

  <% end %>
</div>
